div
  table.table.table-condensed.table-bordered.table-hover
    thead
      tr
        th id
        th email
        th password
        th active
        th role
        th Edit
        th Delete
    tbody
      tr(ng-class-even="'even'",ng-class='{selected: $index==selectedRow}',ng-click='selectUser($index)',ng-repeat='user in users')
        td {{$index + 1}}
        td {{user.email}}
        td {{user.password}}
        td {{user.is_active}}
        td {{user.role}}
        td 
          a.btn.btn-primary(href='/editUser/{{user._id}}', ng-class='{disabled: index < 0}') Edit
        td 
          a.btn.btn-primary(ng-click='deleteUser(user, $index)', ng-class='{disabled: index < 0}') Delete
