doctype 5
html(ng-app="appModule")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Login demo
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    block body